a:link {
	color: #000000;
	text-decoration: none
}

a:visited {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #0066FF;
	text-decoration: underline;
}

body {
	font-size: 9pt;
	line-height: 150%;
	font-family: "宋体";
	text-decoration: none;
	color: #000000;
}

.body0 {
	background: url('../images/bj.gif') no-repeat right bottom;
}

.body1 {
	background-color: #749cdf;
}

.body2 {
	background-image: url('../images/obrs-pic-051.gif');
}

.body3 {
	background-image: url('../images/obrs-pic-051.gif');
}

.body4 {
	background-image: url('../images/obrs-pic-052.gif');
}

.bg1 {
	background-image: url('../images/obrs-pic-009.jpg');
	background-repeat: repeat-x;
	background-attachment: fixed
}

.td1 {
	background-color: #cedefa;
}

.td2 {
	background-color: #749cdf;
}

.td3 {
	background-color: #4a7ac9;
}

.td4 {
	background-color: #ffffff;
}

.td5 {
	background-color: #e7ecfa;
}

.td6 {
	background-color: #a8a9c8;
}

.td7 {
	background-color: #c2c3d7;
}

.td8 {
	background-color: cbe3fb;
	height: 25;
	font-size: 12px;
	color: #0046a6;
	font-family: 宋体;
	font-weight: bold;
}

.td9 {
	background-color: cbe3fb;
	height: 25;
	font-size: 12px;
	color: #0046a6;
	font-family: 宋体;
	font-weight: bold;
}

.tr1 {
	background-color: #D3E7FA;
	height: 25;
	font-size: 14px;
	color: #000000;
	font-family: 宋体;
	font-weight: bold;
}

.tr2 {
	background-color: #ffffff;
	height: 23;
	font-size: 14px;
}

.tr22 {
	background-color: #F7F7F7;
	height: 23;
	font-size: 14px;
}

.tr20 {
	background-color: #eeeeee;
	height: 23;
	font-size: 14px;
}

.tr3 {
	background: url(pic/topBar_bg.gif);
	height: 25;
	font-size: 14px;
	font-family: 宋体;
	font-weight: bold;
}

.tr4 {
	height: 15;
}

.tr5 {
	height: 32;
}

.tr6 {
	height: 6;
}

.tr7 {
	background-color: #cedefa;
	height: 28;
	font-size: 12px;
	color: #000000;
	font-family: 宋体;
	font-weight: bold;
	background: url(pic/line.gif)
}

.tr8 {
	background-color: e3edfe;
	height: 25;
	font-size: 12px;
	color: #0046a6;
	font-family: 宋体;
	font-weight: bold;
}

.tr9 {
	background-color: e3edfe;
	height: 25;
	font-size: 12px;
	color: #ff0000;
	font-family: 宋体;
	font-weight: bold;
}

input {
	background-color: #ffffff;
	border: 1px solid rgb(80, 80, 80);
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
}

.input1 {
	background-color: rgb(241, 244, 251);
	border: 1px solid rgb(33, 81, 165);
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
}

.input2 {
	background-color: #ffffff;
	border: 1px solid rgb(80, 80, 80);
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
}

.f1 {
	color: #000000;
	font: 12px 宋体;
	font-weight: bold;
}

.f2 {
	color: #000000;
	font: 12px 宋体;
	font-weight: bold;
}

.div {
	color: #000000;
	font: 28px 宋体;
	font-weight: bold;
}

table {
	font-size: 12px;
	font-famliy: 宋体;
}

.table1 {
	border-right: #669ACC 1px solid;
	border-top: #669ACC 1px solid;
	border-left: #669ACC 1px solid;
	border-bottom: #669ACC 1px solid;
	background-color: #9BBFE3;
}

.table2 {
	background-color: #5f8bcc;
}

.table3 {
	background-color: #5f8bcc;
	width: 92%;
}

.table780 {
	border-right: #669ACC 1px solid;
	border-top: #669ACC 1px solid;
	border-left: #669ACC 1px solid;
	border-bottom: #669ACC 1px solid;
	background-color: #9BBFE3;
	width: 780;
}

.gwf1 {
	color: #ff0000;
	font: 42pt 宋体;
	font-weight: bold;
}

.gwf2 {
	color: #000000;
	font: 16pt 黑体;
}

.gwf3 {
	color: #000000;
	font: 16pt 楷体_GB2312;
}

.gwf4 {
	color: #000000;
	font: 22pt 宋体;
}

.gwf5 {
	color: #000000;
	font: 16pt 仿宋_GB2312;
}